{
  "formMode": "single",
  "fields": [
    {
      "tmplType": "input",
      "type": "string",
      "label": "Data File",
      "name": "dataFile",
      "question": "where is the data file?",
      "placeholder": "Where is the data file?",
      "model": "dataFile",
      "disabled": false,
      "readOnly": true,
      "config": {
        "rules": [
          {
            "type": "string",
            "required": true,
            "message": "Please input a data file."
          }
        ]
      }
    },
    {
      "tmplType": "select",
      "type": "string",
      "label": "Data Type",
      "name": "dataType",
      "question": "which is the data type?",
      "placeholder": "Which is the data type?",
      "model": "dataType",
      "mode": "default",
      "options": [
        {
          "value": "csv",
          "label": "Comma-Separated Values (csv)"
        },
        {
          "value": "rds",
          "label": "RDS"
        }
      ],
      "disabled": true,
      "readOnly": true,
      "config": {
        "initialValue": "csv",
        "rules": [
          {
            "type": "string",
            "required": true,
            "message": "Please input a data type."
          }
        ]
      }
    },
    {
      "tmplType": "select",
      "type": "string",
      "label": "xAxis",
      "name": "xAxis",
      "question": "Which is the field for xAxis?",
      "placeholder": "Which is the field for xAxis?",
      "model": "xAxis",
      "mode": "default",
      "options": {{ columnOptions|safe }},
      "disabled": false,
      "readOnly": false,
      "config": {
        "rules": [
          {
            "type": "string",
            "required": true,
            "message": "Please select a field name for xAxis."
          }
        ]
      }
    },
    {
      "tmplType": "select",
      "type": "string",
      "label": "yAxis",
      "name": "yAxis",
      "question": "Which is the field for yAxis?",
      "placeholder": "Which is the field for yAxis?",
      "model": "yAxis",
      "mode": "default",
      "options": {{ columnOptions|safe }},
      "disabled": false,
      "readOnly": false,
      "config": {
        "rules": [
          {
            "type": "string",
            "required": true,
            "message": "Please select a field name for yAxis."
          }
        ]
      }
    },
    {
      "tmplType": "select",
      "type": "string",
      "label": "colorAttr",
      "name": "colorAttr",
      "question": "Which is the field for colorAttr?",
      "placeholder": "Which is the field for colorAttr?",
      "model": "colorAttr",
      "mode": "default",
      "options": {{ columnOptions|safe }},
      "disabled": false,
      "readOnly": false,
      "config": {
        "rules": [
          {
            "type": "string",
            "required": true,
            "message": "Please select a field name for colorAttr."
          }
        ]
      }
    },
    {
      "tmplType": "actions",
      "buttons": [
        {
          "type": "cancel",
          "buttonType": "default",
          "buttonLabel": "Cancel"
        },
        {
          "type": "submit",
          "buttonType": "primary",
          "buttonLabel": "Enter",
          "validate": true
        }
      ]
    }
  ]
}
